{{extend 'layout.html'}}

{{block header}}
{{try:}}{{=back}}{{except:}}{{pass}}{{pass}}
{{end}}


<div class='row'>
    <div class='col-md-12'>
        <div class="nav-tabs-custom">
            {{=menu}}
        <div class="tab-content">
            <div class='row'>
                <div class='col-md-9'>
                    <div class="os-piechart text-center">
	                    <canvas id="chart-area" width="350" height="350"></canvas>
                    </div>
                </div>
                <div class='col-md-3'>
                    {{=data_table}}
                </div>
            </div>
        </div>
    </div>
</div>




<script src={{=URL('static', 'plugin_os-js/Chart.min.js')}}></script>
<script src={{=URL('static', 'plugin_os-js/settings/storage.js')}}></script>


