html, body, div#app {
    height: auto;
    min-height: 100%;
}

.info-box-icon {
    overflow: hidden;
}

.info-box-icon img {
    width: 90px;
    height: 90px;    
    margin-top: -10px;
}

/* Customers display begin */
.camera-app video {
    width: 100%;
}
/* Customers display end */

/* Customers list begin */

.customers_list_image {
    width: 60px;
}

.customers_list_image img {
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #EAEAEA;
    max-height: 50px;
    max-width: 50px;
}

/* Customers list end*/