html, body, div#app {
    height: auto;
    min-height: 100%;
}

div#app .wrapper {
    height: auto;
    // min-height: 100%
        /*min-height: 100%;
        position: relative;
        overflow: hidden;*/
        width: 100%;
        min-height: 100%;
        height: auto !important;
        position: absolute;
}

div#app .wrapper .content-wrapper {
    // min-height: 100%
}

div#app .wrapper .content-wrapper .content {
    // min-height: 100%
}